@mixin absolute {
  position: absolute;
}

@mixin fixed {
  position: fixed;
}

@mixin relative {
  position: relative;
}

@mixin sticky {
  position: sticky;
}

@mixin block {
  display: block;
}

@mixin box-border {
  box-sizing: border-box;
}

@mixin box-content {
  box-sizing: content-box;
}

@mixin hidden {
  display: none;
}

@mixin object-cover {
  object-fit: cover;
}

@mixin overflow-auto {
  overflow: auto;
}

@mixin overflow-hidden {
  overflow: hidden;
}

@mixin overflow-y-auto {
  overflow-y: auto;
}

@mixin bottom($size) {
  bottom: $size * 0.25rem;
}

@mixin left($size) {
  left: $size * 0.25rem;
}

@mixin left-1\/2 {
  left: 50%;
}

@mixin right($size) {
  right: $size * 0.25rem;
}

@mixin top($size) {
  top: $size * 0.25rem;
}

@mixin top-1\/2 {
  top: 50%;
}

@mixin z($index) {
  z-index: $index;
}
