@mixin min-h-screen {
  min-height: 100vh !important;
}

@mixin h-auto {
  height: auto;
}

@mixin h-full {
  height: 100% !important;
}

@mixin h-screen {
  height: 100vh !important;
}

@mixin w-2\/3 {
  width: 66.6666% !important;
}

@mixin w-3\/4 {
  width: 75% !important;
}

@mixin w-3\/5 {
  width: 60% !important;
}

@mixin w-4\/5 {
  width: 80% !important;
}

@mixin w-5\/6 {
  width: 83.3333% !important;
}

@mixin h($size) {
  height: $size * 0.25rem !important;
}

@mixin min-h($size) {
  min-height: $size * 0.25rem !important;
}

@mixin min-h-screen {
  min-height: 100vh;
}

@mixin w($size) {
  width: $size * 0.25rem !important;
}

@mixin min-w($size) {
  min-width: $size * 0.25rem !important;
}

@mixin max-w($size) {
  max-width: $size * 0.25rem !important;
}

@mixin w-fit {
  width: fit-content !important;
}

@mixin w-full {
  width: 100% !important;
}
