@import '../../../../shared/styles/breakpoints.scss';

.post {
  @apply box-border duration-300 flex relative transition-opacity;
  &-overlay {
    @apply absolute duration-200 h-full opacity-0 transition-opacity w-full;
    &-data {
      @apply absolute flex items-center justify-between;
      &-card {
        @apply box-border;
      }
      &-notes {
        @apply items-center ml-4 shrink-0 text-white;
        &-icon {
          @apply flex items-center mr-2;
        }
      }
      &-title {
        @apply max-w-full text-white truncate uppercase;
      }
    }
  }
}

.post-gallery {
  @apply w-[calc(50%-0.5rem)] m-1;
  &-image {
    @apply aspect-[3/2] object-cover w-full;
  }
  &-overlay {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    &-data {
      @apply w-[calc(100%-2rem)] bottom-4 left-4;
    }
    &-notes {
      @apply hidden;
    }
  }
}

.post-list {
  @apply mb-8;
  &-image {
    @apply max-h-[85vh] max-w-full;
  }
  &-overlay {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 50%
    );
    &-data {
      @apply w-[calc(100%-2rem)] bottom-4 left-4;
    }
    &-notes {
      @apply flex;
    }
  }
}

@media (min-width: $sm) {
  .post-gallery {
    &-overlay {
      &-notes {
        @apply flex;
      }
    }
  }
}

@media (min-width: $lg) {
  // .post {
  //   &-overlay {
  //     background: linear-gradient(
  //       0deg,
  //       rgba(0, 0, 0, 0.5) 0%,
  //       rgba(0, 0, 0, 0) 50%
  //     );
  //   }
  // }

  .post-gallery {
    @apply w-[calc(33.3333%-1rem)] m-2;
  }

  .post-list {
    @apply mb-16;
  }
}

@media (min-width: $xxl) {
  .post-list {
    &-overlay {
      &-data {
        @apply w-[calc(100%-4rem)] bottom-8 left-8;
      }
    }
  }
}

@media (min-width: $xxxl) {
  .post-gallery {
    @apply w-[calc(25%-2rem)] m-4;
  }
}

@media (min-width: $xxxxl) {
  .post-gallery {
    width: calc(20% - 2rem);
  }
}
