@import '../../styles/breakpoints.scss';

.menu {
  @apply fixed h-screen hidden left-0 top-0 w-screen z-30;
}

.menu-backdrop {
  @apply duration-300 hidden opacity-0 transition-opacity;
}

.menu-buttons {
  @apply flex fixed h-9 items-center right-4 top-4 z-20;
  & > * {
    @apply ml-4;
  }
}

.menu-content {
  @apply box-border duration-300 fixed flex-col h-screen justify-between p-4 opacity-0 overflow-y-auto right-0 top-0 transition-opacity w-screen z-40;
  &-bottom {
    @apply flex flex-col;
  }
  &-top {
    @apply flex flex-col;
  }
}

.menu-content-bottom-footer {
  @apply flex items-center justify-between;
  & a {
    @apply ml-4;
  }
  &-copyright {
    @apply text-xs;
  }
}

.menu-content-bottom-social-media {
  @apply flex flex-wrap justify-center my-8 px-4;
  &-item {
    @apply mb-1 mx-2;
  }
}

.menu-content-top-close {
  @apply self-end;
}

.menu-content-top-nav {
  @apply flex flex-col items-center my-8;
  &-item {
    -webkit-tap-highlight-color: transparent;
    &:not(:last-of-type) {
      @apply mb-8;
    }
  }
}

@media (min-width: $sm) {
  .menu-backdrop {
    @apply absolute block h-screen left-0 top-0 w-[calc(100%-480px)];
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu-buttons {
    @apply right-8 top-8;
  }

  .menu-content {
    @apply p-8 w-[480px];
    box-shadow: -5px 0px 5px 0px rgb(0 0 0 / 0.05),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .menu-content-bottom-social-media {
    @apply flex flex-wrap justify-center my-8;
    &-item {
      @apply mb-1 mx-2;
    }
  }

  .menu-content-top-nav {
    @apply my-24;
  }
}

@media (min-width: $lg) {
  .menu-buttons {
    @apply right-16 top-12;
    & > * {
      @apply ml-8;
    }
  }

  .menu-content-top-nav {
    @apply my-32;
  }
}
