@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import './shared/styles/styles.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
  &:visited {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  text-decoration: none;
}

iframe {
  display: none;
}

// Global classes
.page-content {
  @include box-border;
  @include pb(8);
  @include pt(17);
  @include px(4);
  @include w-full;
}

@media (min-width: $sm) {
  .page-content {
    @include pb(16);
    @include pt(24);
    @include px(8);
  }
}

@media (min-width: $lg) {
  .page-content {
    @include pt(32);
    @include px(16);
  }
}
